.container {
  margin: 15px;
  width: 100%;
  max-width: 900px;
  min-width: 400px;
}

.error {
  text-align: center;
  font-size: 40px;
  color: #908b85;
  font-family: sans-serif;
  margin-top: 50px;
}